<div class="card m-2" style="width: 20rem;">
    <img class="card-img-top" src="../../assets/placeholder.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Item title</h5>
        <p class="card-text text-muted row-bottom-margin">Seller</p>
        <h4>
            <ngb-rating class="mt-0" [(rate)]="avgRating" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <small class="text-muted mr-2">(# reviews)</small>
        </h4>
        <h5 class="card-title"><b>$0.00</b></h5>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>