<div *ngIf="user; else signIn">
  <nav class="navbar navbar-expand-sm navbar-light">
    <img class="smaller ml-5 mr-3 pointer" src="../assets/Logo.svg" routerLink="/home/{{userId}}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="my-2 flex-fill">
        <form>
          <input type="search" class="form-control" placeholder="Search">
        </form>
      </div>
      <span>
        <ul class="navbar-nav mr-5">
          <li class="nav-item active ml-2 border-right">
            <a class="nav-link" routerLink="/outfint/{{userId}}">Outfint</a>
          </li>
          <li class="nav-item dropdown active border-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">You</a>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">{{userName}}</span>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profile/{{userId}}">View Profile</a>
              <a class="dropdown-item" routerLink="/profileSettings/{{userId}}">Profile Settings</a>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Cart">Cart</a>
          </li>
        </ul>
      </span>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<ng-template #signIn>
  <div class="mx-5">
    <nav class="navbar navbar-light mt-2">
      <img class="smaller mr-3" src="../assets/Logo.svg" href="Home">
      <form class="form-inline">
        <input type="email" class="form-control mr-sm-2" placeholder="Email" [formControl]="logInEmail">
        <input type="password" class="form-control mr-sm-2" placeholder="Password" [formControl]="logInPassword">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logIn(logInEmail.value, logInPassword.value)">Log
          In</button>
      </form>
    </nav>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <img class="medium" src="../../assets/Screenshot (2).jpg">
      </div>
      <div class="col-lg-6">
        <h1>Sign Up</h1>
        <form class="mr-5">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" [formControl]="firstName">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" [formControl]="lastName">
            </div>
          </div>
          <label for="firstName">Location</label>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="City" [formControl]="city">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="State" [formControl]="state" maxlength="2">
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="email@example.com" [formControl]="signUpEmail">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password"
              [formControl]="signUpPassword">
          </div>
          <button type="submit" class="btn btn-outline-success"
            (click)="signUp(signUpEmail.value, firstName.value, lastName.value, signUpPassword.value, city.value, state.value)">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>