.navbar-nav { 
    flex-direction: row;
}

.form-control{
    border-radius: 40px;
}

.smaller {
    width: 2%;
}

.pointer {
    cursor: pointer;
}

.html {
    background-color: black;
}

.medium {
    width: 100%;
}