<nav *ngIf="loggedIn" class="navbar navbar-expand-sm navbar-light">
  <img class="smaller ml-5 mr-3 pointer" src="../assets/Logo.svg" routerLink="/Home">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="my-2 flex-fill">
      <form>
        <input type="search" class="form-control" placeholder="Search">
      </form>
    </div>
    <span>
      <ul class="navbar-nav mr-5">
        <li class="nav-item active ml-2 border-right">
          <a class="nav-link" href="Outfint">Outfint</a>
        </li>
        <li class="nav-item dropdown active border-right">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">You</a>
          <div class="dropdown-menu">
            <span class="dropdown-item-text">Name</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Profile">View Profile</a>
            <a class="dropdown-item" href="ProfileSettings">Profile Settings</a>
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="Cart">Cart</a>
        </li>
      </ul>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>

