<ul>
    <li><a href="/SignIn">Sign In</a></li>
    <li><a href="/Item">Item</a></li>
    <li><a href="/Profile">Profile</a></li>
    <li><a href="/Review">Review</a></li>
</ul>

<nav class="nav justify-content-end mb-2 mx-5">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
        Sort by:
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Top Rating</a>
        <a class="dropdown-item" href="#">Distance</a>
        <a class="dropdown-item" href="#">Highest Price</a>
        <a class="dropdown-item" href="#">Lowest Price</a>
        <a class="dropdown-item" href="#">Most Recent</a>
    </div>
</nav>

<div class="mx-5">
    <div class="mx-auto">
    <div class="card-deck">
        <app-item-card></app-item-card>        
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>        
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
    </div></div>
</div>