<div class="mx-5">
    <nav class="nav justify-content-end mb-2">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            Sort by:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" (click)='sort("rating", false)'>Top Rating</a>
            <a class="dropdown-item" (click)='sort("price", false)'>Highest Price</a>
            <a class="dropdown-item" (click)='sort("price", true)'>Lowest Price</a>
            <a class="dropdown-item" (click)='sort("recent", false)'>Most Recent</a>
        </div>
    </nav>

    <div class="card-deck mx-3">
        <app-item-card *ngFor="let item of items" [item]="item">
        </app-item-card>
    </div>
</div>