<ul>
    <li><a href="/SignIn">Sign In</a></li>
    <li><a href="/Item">Item</a></li>
    <li><a href="/Profile">Profile</a></li>
    <li><a href="/ProfileSettings">Profile Settings</a></li>
    <li><a href="/Outfinting">Outfinting</a></li>
    <li><a href="/Cart">Cart</a></li>
    <li><a href="/CartItem">Cart Item</a></li>
    <li><a href="/ItemCard">Item Card</a></li>
</ul>

<div class="mx-5">
    <nav class="nav justify-content-end mb-2">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            Sort by:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Top Rating</a>
            <a class="dropdown-item" href="#">Highest Price</a>
            <a class="dropdown-item" href="#">Lowest Price</a>
            <a class="dropdown-item" href="#">Most Recent</a>
        </div>
    </nav>

    <div class="card-deck justify-content-center">
        <app-item-card *ngFor="let item of items" [item]="item">
        </app-item-card>
    </div>
</div>