<div class="container-fluid mx-5">
  <div class="row">
    <div class="col-lg-7">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image">
          </div>
        </ng-template>
      </ngb-carousel>
      <hr>
      <h4><small class="text-muted mr-2">Reviews (# reviews)</small>
        <ngb-rating class="align-text-bottom" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5">
        </ngb-rating>
      </h4>
      <app-review></app-review>
    </div>
    <div class="col-lg-auto">
      <h3><small class="text-muted">{{seller}}</small></h3>
      <h3>{{title}} ({{totalNumFints}})</h3>
      <p class="h5 font-weight-bold">${{price}}/day</p>
      <p class="text-muted">Select Dates for Use:</p>
      <app-date-picker></app-date-picker>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">Add To Cart</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">Fint Now</button>
    </div>
  </div>
</div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>