.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }

.full {
    color: #fed766;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #fed766;
}

.btn-outline-primary {
  border-color: #fe4a49;
  color: #fe4a49;
}

.btn-outline-primary:hover {
  background-color: #fe4a49;
  color: white;
}

.btn-outline-primary:active, .btn-outline-primary:focus {
  background-color: #fe4a49 !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}