.btn-outline-primary {
    border-color: #fe4a49;
    color: #fe4a49;
}
  
.btn-outline-primary:hover {
    background-color: #fe4a49;
    color: white;
}
  
.btn-outline-primary:active, .btn-outline-primary:focus {
    background-color: #fe4a49 !important;
    outline: none !important;
    box-shadow: none !important;
    color: white;
}

.form-control{
    border-radius: 40px;
}
