<div class="card m-2" style="width: 20rem;">
    <img class="card-img-top" src={{picture}}>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text text-muted row-bottom-margin">{{seller}}</p>
        <h4>
            <ngb-rating class="mt-0" [(rate)]="avgRating" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <small class="text-muted mr-2">({{numReviews}})</small>
        </h4>
        <h5 class="card-title"><b>${{price}}/day</b></h5>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#itemReviewModal">Review
            this
            item</button>
    </div>
</div>

<div class="modal fade" id="itemReviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-2">
                    <img class="small" src="../../assets/placeholder.png">
                    <p class="mx-2 my-auto">Name</p>
                </div>
                <hr>
                <p>Overall Rating: <ngb-rating class="align-text-center" [(rate)]="reviewRating" [starTemplate]="t"
                        max="5">
                    </ngb-rating>
                </p>
                <div class="form-group">
                    <label for="revTextArea">Write Your Review:</label>
                    <textarea class="form-control" id="revTextArea" rows="3" [formControl]="revTextArea"></textarea>
                </div>
                <p>Add a Photo or Video (Optional)</p>
                <img class="mb-2" [src]="url" height="200">
                <input type='file' (change)="onSelectFile($event)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="post(revTextArea.value, reviewRating)">Post Your Review</button>
            </div>
        </div>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>