<div class="row mx-1">
    <div class="col-sm-1.5">
        <img src={{profilePic}} class="avatar">
    </div>
    <div class="col-sm-8 flex-column">
        <p class="m-0"><a style="color:black; text-decoration: underline" href="#">{{reviewer}}</a>   {{postDate | date}}</p>
        <p class="m-0"><ngb-rating [(rate)]="rating" [starTemplate]="t" [readonly]="true" max="5">
        </ngb-rating></p>
        <p>{{reviewContent}}</p>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>